/* 
##############################
###			  	      SIDE MENU        		   ###
##############################
*/
.sidenav {
	width:auto;
	max-width:300px;
}
.sidenav ul{
	
}
.sidenav ul li{
	
}
.pseudosel {
	background:#374685;
	padding-left:5px;
	-webkit-border-top-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	border-top-right-radius: 25px;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(189,189,189,0.36);
	-moz-box-shadow: 1px 1px 5px 1px rgba(189,189,189,0.36);
	box-shadow: 1px 1px 5px 1px rgba(189,189,189,0.36);
}
.sidenav ul li a{
	color:#D1D3FF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	line-height: 1.4em;
}
.sidenav ul li a:hover,.sidenav ul li a:active{
	color:#F2F3FF;
}
.sidenav ul ul{
	
}
.sidenav ul ul li{
	margin-left:15px;
}
.sidenav ul ul li a{
	color:#424242;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0em;
}
.sidenav ul ul li a:hover,.sidenav ul ul li a:active{
	color:#A3A3A3;
}
.breaksidenav {

}